body {
    font-family: 'Lato';
    /*min-height: 2000px;*/
}

.navbar-static-top {
    margin-bottom: 19px;
}

.fa-btn {
    margin-right: 6px;
}

body {
    background-image: url('/logo-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 98% 98%
}

